extends layout

block body
  <!-- Make sure all your bars are the first things in your <body> -->
  header.bar-title
    h1.title Towers

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  div.content
    div.content-padded
      p.welcome Error occured: #{error}

