extends layout

block body

  div(data-role="page")
    div(data-role="header", data-theme="b")
      h1 Knights on Bikes
      //- a(href="/", data-icon="home") Home

    div(style="background-color:#fff;", width="100%", height="300px")
      center
        img.main-image(src="/images/knights_on_bikes-decals_11.jpg", height="300px")
    div(data-role="content")
      section.above-list
        h3 Select a State:
        br
      ul(data-role="listview")
        li
          a(href="/home/az", data-transition="slide") Arizona



    // div.ui-bar(data-role="footer", data-position="fixed")
    //   div.ui-navbar.ui-mini(data-role="navbar", role="navigation")
    //     ul.ui-grid-d
    //       li
    //         span(data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
    //           span.ui-btn-inner 
    //             span.ui-btn-text 
    //           span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;



