extends layout

block body       

  div(data-role="page")
    div(data-role="header", data-theme="b")
      h1 Towers

    img.main-image(src="/images/network.png", width="100%", height="300px")
    div(data-role="content")
      section.above-list Select a map overlay:

    span.ui-btn-inner.ui-btn-corner-all
      span.ui-btn-text
        span.ui-icon.ui-icon-arrow-d.ui-icon-shadow
    select#mapTemplate(onchange="saveSelectedValues();")
      option default
      option terrain
      option toner
      option watercolor

    script.
      var maptemplate = localStorage.getItem("maptemplate");
      if(maptemplate == null) {
        //- set default maptemplate (toner, terrain, watercolor)
        maptemplate = "default"
      }
      var el = $('#mapTemplate');

      // Select the relevant option, de-select any others
      el.val(maptemplate).attr('selected', true).siblings('option').removeAttr('selected');

      // Initialize the selectmenu
      el.selectmenu();

      // jQM refresh
      el.selectmenu("refresh", true);

      function saveSelectedValues(){
          var mapSelect = document.getElementById("mapTemplate").value;
          if(mapSelect == 'default'){
            localStorage.setItem("maptemplate", null);
          } else {
            localStorage.setItem("maptemplate", mapSelect);
          }

      }        


    div.ui-bar(data-role="footer", data-position="fixed")
      div.ui-navbar.ui-mini(data-role="navbar", role="navigation")
        ul.ui-grid-d
          li
            a(href="/main", data-icon="home", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Home
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/markets/1", data-icon="star", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Markets
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/settings", data-icon="gear", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner
                span.ui-btn-text Settings
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/logout", data-icon="delete", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Logout
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;

