extends layout

block body

  div#sitesmap(data-role="page")
    div(data-role="header", data-theme="b")
      h1 Towers

    div#map-canvas(data-role="content")


    div.ui-bar(data-role="footer", data-position="fixed")
      div.ui-navbar.ui-mini(data-role="navbar", role="navigation")
        ul.ui-grid-d
          li
            a(href="/main", data-icon="home", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Home
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/markets/1", data-icon="star", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Markets
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/settings", data-icon="gear", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner
                span.ui-btn-text Settings
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;
          li
            a(href="/logout", data-icon="delete", data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="span", data-iconpos="top", data-theme="a", data-inline="true", class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a")
              span.ui-btn-inner 
                span.ui-btn-text Logout
              span.ui-icon.ui-icon-grid.ui-icon-shadow &nbsp;



  script.

    function resizeMap() {
      $('[data-role=content]')
            .height(
              $(window).height() - 
              (5 + $('[data-role=header]').last().height() 
              + $('[data-role=footer]').last().height())
            );    
    }

    function initialize() {

      var map = new google.maps.Map(document.getElementById("map-canvas"));

      navigator.geolocation.getCurrentPosition(success);
      function success(position) {
        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        if (localStorage.getItem("maptemplate") != 'toner' && localStorage.getItem("maptemplate") != 'terrain' && localStorage.getItem("maptemplate") != 'watercolor') { 

         map.setOptions({
            zoom: 10,
            center: pos,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });

        } else {

          // replace "toner" here with "terrain" or "watercolor"
          var layer = localStorage.getItem("maptemplate");

          map.setOptions({
            zoom: 10,
            center: pos,
            mapTypeId: layer,
            mapTypeControlOptions: {
                mapTypeIds: [layer]
            }

          });

          map.mapTypes.set(layer, new google.maps.StamenMapType(layer));      

        }

      }      

      resizeMap();
      google.maps.event.trigger(map, 'resize');    
      

      function addMarker (lat, long, title, description) {
        var myLatlng = new google.maps.LatLng(lat,long);
        var marker = new google.maps.Marker({ position: myLatlng, map: map });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">' + title + '</h1>'+
            '<div id="bodyContent">'+ description + 
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);        
        });   

        google.maps.event.addDomListener(window, 'resize', function() {
          resizeMap();
          google.maps.event.trigger(map, 'resize');  
        });      

      }

      function sleep(milliSeconds){
        var startTime = new Date().getTime(); // get the current time
        while (new Date().getTime() < startTime + milliSeconds); // hog cpu
      }

      $.ajax({
        url: "/getSites/#{market}",
        cache: false,
        type: "GET",
        success: function(data) { 
          sleep(1000); // added to give map time to load
          var jdata = JSON.parse(data);
          $.each(jdata.items, function(index, element) {
            addMarker(element.Latitude, element.Longitude, element.SiteName, 'GC: ' + element.GeneralContractorPOC + ' (' + element.GeneralContractorName + ')<br>Status: ' + element.SiteStatus)
          });
          //- var pos = new google.maps.LatLng(jdata.items[0].Latitude, jdata.items[0].Longitude);
          var pos = new google.maps.LatLng(jdata.items[1].Latitude, jdata.items[1].Longitude);
          map.setCenter(pos)

        }  
      });

    };    



